/*-----------------------------------------------
*   CSS reset
-----------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*-----------------------------------------------
*   Today
-----------------------------------------------*/

.today-piece {
    border-radius: 0.25rem;
    font-size: 1.25em;
    text-align: center;
}


/* Piece positions
   -------------------------------------------------- */

.top {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.middle {
    border-radius: 0;
}

.bottom {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}


/* Piece categories
   -------------------------------------------------- */

.month {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    text-align: center;
}

.date {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}


/*-----------------------------------------------
*   Body
-----------------------------------------------*/

body {
    background-color: #00e0a0;
    font-family: 'Quicksand', sans-serif;
}

body ::selection {
    background-color: #222;
    color: #00e0a0;
}


/*-----------------------------------------------
*   Main Block
-----------------------------------------------*/

.main {
    background-color: #f6f6f6;
    width: 530px;
    margin: 90px auto;
    padding-bottom: 25px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

ul li {
    background-color: rgb(255, 255, 255);
    color: #6d6d6d;
    font-size: 19px;
    font-weight: 600;
    padding: 16px 0 16px 0;
    margin: 10px auto;
    width: 90%;
    border-radius: 4px;
    text-indent: 20px;
    -webkit-box-shadow: 0 10px 6px -6px rgb(237, 237, 237);
    -moz-box-shadow: 0 10px 6px -6px rgb(230, 230, 230);
    box-shadow: 0 10px 6px -6px rgb(222, 222, 222);
    position: relative;
}

ul li .fontbuttons {
    width: 70px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
    padding-top: 13px;
    margin-right: 20px;
}

ul li .fontbuttons .remove {
    width: 35px;
    height: 50px;
    float: left;
    color: #b3b3b3;
    cursor: pointer;
    transition: color 0.17s ease-in;
}

ul li .fontbuttons .remove:hover {
    color: rgb(255, 67, 67);
}

ul li .fontbuttons .done {
    width: 35px;
    height: 50px;
    float: left;
    position: relative;
    cursor: pointer;
}

img {
    padding: 15px;
    display: block;
    margin: auto;
}


/*-----------------------------------------------
*   Input & Button
-----------------------------------------------*/

input {
    background: #ffffff;
    height: 48px;
    border: 1px solid #00e1a1;
    text-align: center;
    width: 60%;
    font-size: 18px;
    color: #b3b3b3;
    font-family: 'Quicksand', sans-serif;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 15px 0 15px;
}

 ::placeholder {
    color: #000000;
    opacity: 0.1;
    font-size: 20px;
}

.fa-plus-circle {
    font-size: 90px;
    color: #00e1a1;
    margin-top: 7px;
    display: inline-block;
    text-align: center;
    transition: color 0.2s;
}

.fa-plus-circle:hover {
    font-size: 90px;
    color: #303030;
    margin-top: 7px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.buttons {
    text-align: center;
}


/*-----------------------------------------------
*   Footer
-----------------------------------------------*/

footer {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

footer p {
    font-size: 0.8em;
    padding: 4px;
}

span {
    background-color: black;
    color: white;
    padding: 1px;
}

.fa-cog {
    display: inline-block;
    margin-right: 4px;
    font-size: 14px;
}